/* GENERAL */

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #000000;
}

.full-window-space {
  height:100%;
  width:100%;
}

.wrap {
  width: 90%;
  max-width: 11000px;
  padding-top: 70px;
  margin: 0 auto;
}

/* HEADER*/
.top-bar-title {
  margin-top: 7px;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
  cursor: hand;
}

/*Apply to the city selector modal*/
.button-full-width {
  display: block;
}

/* Movie item in cinemas view*/
.movie-poster {
  width: 100%;
  cursor: pointer;
  cursor: hand;
}

.movie-tittle {
  text-align: center;
  min-height: 56px;
  padding: auto 20px;
}

.screenings-container {
  overflow-y: scroll;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.screenings-table {
  width: 100%;
}

.screenings-table > tbody > tr > td {
  text-align: center;
}

/*specific movie view*/
.wrap-specific-item {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
}

.is-open-right {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.off-canvas.position-right {
  width: 50%;
  right: -50%;
}

@media only screen and (max-width: 40em) {
  .is-open-right {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .off-canvas.position-right {
    width: 100%;
    right: -100%;
  }
}

.cinema-thumbnail {
  max-height: 130px;
  max-width: 130px;
}
