<div class="row small-up-1 medium-up-2 large-up-3">
  <div ng-show="isAdmin">
    <button class="button success right-off-canvas-toggle" ui-sref="cineBreak.cinemas.new">Agregar</button>
  </div>

  <div class="media-object" ng-repeat="cinema in cinemas">
    <div class="media-object-section">
      <div class="thumbnail">
        <img class="right-off-canvas-toggle cinema-thumbnail" ng-src="{{cinema.logo}}" ng-click="viewSpecificCinema(cinema)">
      </div>
    </div>
    <div class="media-object-section">
      <h4 class="right-off-canvas-toggle" ng-click="viewSpecificCinema(cinema)">{{cinema.displayName}}</h4>
      <p>
        {{cinema.address}}
        <br>
        <b>Telf.:</b>
        <span ng-repeat="phone in cinema.phone">
          {{phone}}{{$last ? '':' ,'}}
        </span>
      </p>
    </div>
  </div>
</div>
