<div class="wrap-specific-item">
  <fieldset class="medium-12 columns">
    <legend>Logo:</legend>
    <input type="text" placeholder="Url de la imagen del Logo" id=logoUrl" ng-model="cinemaData.logo" required>
  </fieldset>
  <img class="thumbnail movie-poster right-off-canvas-toggle" ng-src="{{cinemaData.logo}}">
  <fieldset class="medium-12 columns">
    <legend>Nombre:</legend>
    <input type="text" placeholder="displayName" id="displayName" ng-model="cinemaData.displayName" required>
  </fieldset>
  <fieldset class="medium-12 columns">
    <legend>Dirección:</legend>
    <input type="text" placeholder="Dirección" id="address" ng-model="cinemaData.address" required>
  </fieldset>

  <fieldset class="medium-6 columns">
    <legend>Ciudad (Nombre):</legend>
    <input type="text" placeholder="Nombre" id="cityName" ng-model="cinemaData.city.name" required>
  </fieldset>
  <fieldset class="medium-6 columns">
    <legend>Abreviación (3 letras):</legend>
    <input type="text" placeholder="Abreviación" id="cityAbbreviation" ng-model="cinemaData.city.abbreviation"
           required>
  </fieldset>

  <fieldset class="medium-6 columns">
    <legend>Ubicación geográfica (Latitud):</legend>
    <input type="text" placeholder="Latitud" id="latitud" ng-model="cinemaData.location.lat" required>
  </fieldset>
  <fieldset class="medium-6 columns">
    <legend>(Longitud):</legend>
    <input type="text" placeholder="Longitud" id="longitud" ng-model="cinemaData.location.lng" required>
  </fieldset>
  <fieldset class="medium-12 columns">
    <legend>Teléfonos (sepáralos usando una coma ",")</legend>
    <input type="text" placeholder="Télefonos" ng-model="cinemaData.phone" ng-list required>
  </fieldset>
  <fieldset class="medium-12 columns">
    <legend>Sitio Web</legend>
    <input type="text" ng-model="cinemaData.website" required>
  </fieldset>

  <fieldset class="medium-12 columns">
    <legend>Precios:</legend>
    <div class="row small-collapse" ng-repeat="price in cinemaData.prices">
      <div class="small-2 columns">
        <input type="text" placeholder="Formato(Ej:2D)" ng-model="price.format" required/>
      </div>
      <div class="small-7 columns">
        <input type="text" placeholder="descripción(Ej:Lunes a viernes)" ng-model="price.description" required/>
      </div>
      <div class="small-2 columns">
        <input type="text" placeholder="precio(25Bs)" ng-model="price.price" required/>
      </div>
      <div class="button-group small small-1 columns">
        <button class="button alert" ng-click="removepriceFromPricesArray(price)"><i class="fi-minus"></i></button>
      </div>
    </div>
    <hr>
    <div class="row small-collapse" ng-repeat="priceToAdd in pricesToAdd">
      <div class="small-2 columns">
        <input type="text" placeholder="Formato(Ej:2D)" ng-model="priceToAdd.format" required/>
      </div>
      <div class="small-7 columns">
        <input type="text" placeholder="descripción(Ej:Lunes a viernes)" ng-model="priceToAdd.description" required/>
      </div>
      <div class="small-2 columns">
        <input type="text" placeholder="precio(25Bs)" ng-model="priceToAdd.price" required/>
      </div>
      <div class="button-group small small-1 columns">
        <button class="button success" ng-click="addNewPriceToPricesArray(priceToAdd)">
          <i class="fi-plus"></i>
        </button>
      </div>
    </div>
    <div class="button-group small-offset-10 small">
      <button class="button warning" ng-click="addNewPrice()">Nuevo</button>
    </div>
  </fieldset>


  <fieldset class="large-12 columns">
    <div class="clearfix">
      <div class="button-group float-right small">
        <button type="submit" class="button success" ng-click="save()">Guardar</button>
        <button type="button" class="button warning" ng-click="remove()" ng-show="!isNew">Eliminar</button>
        <button type="button" class="button" ng-click="cancel()">Cancelar</button>
      </div>
    </div>
  </fieldset>
</div>
