<div class="wrap-specific-item">
  <img class="thumbnail movie-poster right-off-canvas-toggle" ng-src="{{cinema.logo}}">
  <h3>{{cinema.displayName}}</h3>

  <h4>Dirección:</h4>
  <p>{{cinema.address}}</p>

  <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="{{cinema.location.lat}},{{cinema.location.lng}}" zoom="18">
      <marker position="[{{cinema.location.lat}},{{cinema.location.lng}}]"></marker>
    </ng-map>
  </div>

  <h4>Teléfono(s):</h4>
  <p>
    <span ng-repeat="phone in cinema.phone">
          {{phone}}{{$last ? '':' ,'}}
     </span>
  </p>

  <h4 ng-show="cinema.website != null && cinema.website != ''">Sitio Web:</h4>
  <a href="{{cinema.website}}">{{cinema.website}}</a>

  <h4 ng-show="cinema.prices != null && cinema.prices != ''">Precios:</h4>
  <div class="row small-up-1 medium-up-2">
    <div class="column" ng-repeat="(key, value) in cinema.prices| groupBy: 'format'">
      <h6>
        <small><strong>{{key | uppercase}}</strong></small>
      </h6>
      <ul class="no-bullet">
        <li ng-repeat="price in value">
          <small><strong>{{price.price}}</strong> - {{price.description}}</small>
        </li>
      </ul>
    </div>
  </div>

  <fieldset class="large-12 columns" ng-show="isAdmin">
    <div class="clearfix">
      <div class="button-group float-right small">
        <button type="button" class="button warning" ui-sref="cineBreak.specificCinema.edit">Editar</button>
      </div>
    </div>
  </fieldset>
</div>
