<h3>¿ EN QUÉ CIUDAD VIVES ?</h3>
<div ng-repeat="city in cities track by $index">
  <a class="button button-full-width" ng-click="select(city);">{{ city.name }}</a>
</div>
<!--close button-->
<button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
