<div class="top-bar">
  <div class="top-bar-title" ng-click="openMenu('full')">
    CINE<strong>BREAK</strong>
  </div>
  <div class="top-bar-left">
    <ul class="menu">
      <li>
        <a ng-click="openCitySelector('full')">{{ selectedCityAbbreviation}}</a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right" ng-show="loggedIn">
    <ul class="menu">
      <li>
        <span>Hola <strong>{{username}}</strong></span>
      </li>
      <li>
        <a ng-click="logOut()">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</div>
