<div ng-show="activeView == 'register'">
  <h3>Regístrate</h3>
  <form ng-submit="doRegister()">
    <div class="row">
      <fieldset class="medium-12 columns">
        <legend>Usuario:</legend>
        <input type="text" placeholder="Usuario" id="usernameRegister" ng-model="registrationData.username" required>
      </fieldset>
      <fieldser class="medium-12 columns">
        <legend>Contraseña:</legend>
        <input type="password" placeholder="Contraseña" id="passwordRegister" ng-model="registrationData.password" required>
      </fieldser>
      <fieldset class="medium-12 columns">
        <legend>Primer Nombre:</legend>
        <input type="text" placeholder="Primer Nombre" id="firstnameRegister" ng-model="registrationData.firstname" required>
      </fieldset>
      <fieldset class="medium-12 columns">
        <legend>Primer Nombre:</legend>
        <input type="text" placeholder="Apellidos" id="lastnameRegister" ng-model="registrationData.lastname" required>
      </fieldset>
      <fieldset class="large-12 columns">
        <a class="float-right" ng-click="showLogin()">Iniciar sesión</a>
      </fieldset>
      <fieldset class="large-12 columns">
        <div class="clearfix">
          <div class="button-group float-right small">
            <button type="submit" class="button success">Registrar</button>
            <button type="button" class="button" ng-click="cancel()">Cancelar</button>
          </div>
        </div>
      </fieldset>
      <div class="small-12 columns">
        <alert ng-repeat="alert in alertsRegister" type="alert.type" close="closeRegisterAlert($index)">{{alert.msg}}</alert>
      </div>
    </div>
  </form>
</div>


<div ng-show="activeView == 'login'">
  <h3>Iniciar sesión</h3>
  <form ng-submit="doLogin()">
    <div class="row">
      <fieldset class="medium-12 columns">
        <legend>Usuario:</legend>
        <input type="text" placeholder="Usuario" id="username" ng-model="loginData.username" required>
      </fieldset>
      <fieldset class="medium-12 columns">
        <legend>Contraseña:</legend>
        <input type="password" placeholder="Contraseña" id="password" ng-model="loginData.password" required>
      </fieldset>
      <fieldset class="large-12 columns">
        <a class="float-right" ng-click="showRegister()">Registrarse</a>
      </fieldset>
      <fieldset class="large-12 columns">
        <div class="clearfix">
          <div class="button-group float-right small">
            <button type="submit" class="button success">Login</button>
            <button type="button" class="button" ng-click="cancel()">Cancelar</button>
          </div>
        </div>
      </fieldset>
      <div class="small-12 columns">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>

    </div>
  </form>
</div>
<!--close button-->
<button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
