<h3>MENU</h3>

<a class="button button-full-width" ng-click="login();">Login</a>
<a class="button button-full-width" ng-click="cartelera()">CARTELERA ({{city|uppercase}})</a>
<a class="button button-full-width" ng-click="aboutCinemas();">ACERCA DE LOS CINES ({{city|uppercase}})</a>
<!--<a class="button button-full-width" ng-click="howDoesItWork();">¿CÓMO SE USA?</a>-->
<!--<a class="button button-full-width" ng-click="aboutTheApp();">ACERCA DE ESTE APP</a>-->


<!--close button-->
<button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
