<div>
  <div class="row small-up-2 medium-up-4 large-up-5">
    <div ng-show="isAdmin">
      <button class="button success right-off-canvas-toggle" ui-sref="cineBreak.new">Agregar</button>
    </div>
    <div class="column" ng-repeat="movie in movies track by $index">
      <img class="thumbnail movie-poster right-off-canvas-toggle" ng-src="{{movie.poster}}"
           ng-click="viewSpecificMovie(movie)">
      <h5 class="movie-tittle right-off-canvas-toggle" ng-click="viewSpecificMovie(movie)">{{movie.title}}</h5>

      <div class="screenings-container">
        <table class="screenings-table">
          <tbody>
          <tr ng-repeat="screening in movie.screenings">
            <td>
              <h6>
                <strong><small>{{screening._id.displayName}}</small></strong>
              </h6>

              <p ng-repeat="(key, value)  in screening.showtimes| groupBy: '[format,type]'">
                <small>
                  <strong>{{key| uppercase|replaceString:',':' | '}}</strong>
                  <br>
                  <span ng-repeat="showtime in value">
                    {{showtime.time}}{{$last ? '' : ' - '}}
                  </span>
                </small>
              </p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
