<div class="wrap-specific-item">
  <fieldset class="medium-12 columns">
    <legend>Poster:</legend>
    <input type="text" placeholder="url del poster" id="posterUrl" ng-model="movie.poster" required>
  </fieldset>
  <img class="thumbnail movie-poster right-off-canvas-toggle" ng-src="{{movie.poster}}">

  <fieldset class="medium-12 columns">
    <legend>Título:</legend>
    <input type="text" placeholder="Nombre de la película" id="title" ng-model="movie.title" required>
  </fieldset>
  <fieldset class="medium-12 columns">
    <legend>Título (Nombre Original):</legend>
    <input type="text" placeholder="Título original" id="originalTitle" ng-model="movie.originalTitle" required>
  </fieldset>
  <fieldset class="medium-12 columns">
    <legend>Duración:</legend>
    <input type="text" placeholder="Duración en minutos" id="duration" ng-model="movie.duration" required>
  </fieldset>

  <fieldset class="medium-12 columns">
    <legend>¿De qué se trata?</legend>
    <textarea rows="4" cols="50" placeholder="Descripción de la película" id="description" ng-model="movie.description"
              required></textarea>
  </fieldset>

  <fieldset class="medium-12 columns">
    <legend>¿Quiénes actúan?</legend>
    <div class="row small-collapse" ng-repeat="actor in movie.cast">
      <div class="small-4 columns">
        <input type="text" placeholder="Código IMDB" ng-model="actor.imdbID" required/>
      </div>
      <div class="small-7 columns">
        <input type="text" placeholder="Nombre del actor" ng-model="actor.name" required/>
      </div>
      <div class="button-group small small-1 columns">
        <button class="button alert" ng-click="removeActorFromCastArray(actor)"><i class="fi-minus"></i></button>
      </div>
    </div>
    <hr>
    <div class="row small-collapse" ng-repeat="actorToAdd in actorsToAdd">
      <div class="small-4 columns">
        <input type="text" placeholder="Código IMDB" ng-model="actorToAdd.imdbID" required/>
      </div>
      <div class="small-7 columns">
        <input type="text" placeholder="Nombre del actor" ng-model="actorToAdd.name" required/>
      </div>
      <div class="button-group small small-1 columns">
        <button class="button success" ng-click="addNewActorToCastArray(actorToAdd)">
          <i class="fi-plus"></i>
        </button>
      </div>
    </div>
    <div class="button-group small-offset-10 small">
      <button class="button warning" ng-click="addNewActor()">Nuevo</button>
    </div>
  </fieldset>


  <fieldset class="medium-12 columns">
    <legend>Funciones en los cines:</legend>
    <div class="row small-collapse" ng-repeat="screening in movie.screenings">
      <div class="small-10 columns">
        <select>
          <option ng-repeat="cinema in cinemas" value="cinema._id" ng-selected="screening._id._id == cinema._id">
            {{cinema.displayName}} ({{cinema.city.abbreviation}})
          </option>
        </select>
      </div>

      <div class="button-group small small-2 columns">
        <button class="button warning" ng-click="openShowtimesOfAScreening(screening)">
          <i class="fi-list"></i>
        </button>
        <button class="button alert" ng-click="removeScreeningFromScreeningsArray(screening)">
          <i class="fi-minus"></i>
        </button>
      </div>
    </div>
    <hr>
    <div class="row small-collapse" ng-repeat="screeningToAdd in screeningsToAdd">
      <div class="small-11 columns">
        <select data-ng-model="screeningToAdd._id"
                data-ng-options=" cinema.displayName +' ('+ cinema.city.abbreviation+')' for cinema in cinemas">
        </select>
      </div>
      <div class="button-group small small-1 columns">
        <button class="button success" ng-click="addNewScreeningToScreeningsArray(screeningToAdd)">
          <i class="fi-plus"></i>
        </button>
      </div>
    </div>
    <div class="button-group small-offset-10 small">
      <button class="button warning" ng-click="addNewScreening()">Nuevo</button>
    </div>
  </fieldset>


  <fieldset class="medium-10 columns">
    <legend>Dirigida por:</legend>
    <input type="text" placeholder="Nombre del director" id="director" ng-model="movie.director" required>
  </fieldset>
  <fieldset class="medium-2 columns">
    <legend>Año:</legend>
    <input type="text" placeholder="año de lanzamiento" id="ear" ng-model="movie.year" required>
  </fieldset>

  <fieldset class="large-12 columns">
    <div class="clearfix">
      <div class="button-group float-right small">
        <button type="submit" class="button success" ng-click="save()">Guardar</button>
        <button type="button" class="button warning" ng-click="remove()" ng-show="!isNew">Eliminar</button>
        <button type="button" class="button" ng-click="cancel()">Cancelar</button>
      </div>
    </div>
  </fieldset>


</div>
