<div class="wrap-specific-item">
  <img class="thumbnail movie-poster right-off-canvas-toggle" ng-src="{{movie.poster}}">
  <h3>{{movie.title}}</h3>

  <h4>¿De qué se trata?</h4>
  <p>
    {{movie.description}}
  </p>

  <h4>¿Quienes actuan?</h4>
  <p>
    <span ng-repeat="actor in movie.cast">
      {{actor.name}}{{$last ? '' : ' - '}}
    </span>
  </p>

  <h5><strong>Dirigida por: </strong>{{movie.director}}</h5>

  <h4>¿A qué hora puedo verla?</h4>

  <div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column" ng-repeat="screening in movie.screenings">
      <h6>
        <small><strong>{{screening._id.displayName}}</strong></small>
      </h6>

      <p ng-repeat="(key, value)  in screening.showtimes| groupBy: '[format,type]'">
        <strong>
          <small>{{key | uppercase | replaceString:',':' | '}}</small>
        </strong>
        <br>
        <small>
          <span ng-repeat="showtime in value">
            {{showtime.time}}{{$last ? '' : ' - '}}
          </span>
        </small>

      </p>
    </div>
  </div>

  <fieldset class="large-12 columns" ng-show="isAdmin">
    <div class="clearfix">
      <div class="button-group float-right small">
        <button type="button" class="button warning" ui-sref="cineBreak.specificMovie.edit">Editar</button>
      </div>
    </div>
  </fieldset>

  <h4>¿Qué opina la gente?</h4>
  <ul class="no-bullet">
    <li ng-repeat="comment in movie.comments| orderBy:createdAt">
      <blockquote>
        <p>{{comment.rating}} Stars</p>
        <p>{{comment.comment}}</p>
        <footer>
          <small>{{comment.postedby.username}}, {{comment.createdAt | date:'MMM. dd, yyyy'}}</small>
        </footer>
      </blockquote>
    </li>
  </ul>

  <!--Add comment form-->
  <h4>Déjanos tu opinión</h4>
  <form name="commentForm" ng-submit="submitComment()">
    <fieldset class="large-12 columns">
      <legend>Calificación:</legend>
      <input type="radio" name="rating" value="1" id="rating1" ng-model="newComment.rating"><label
      for="rating1">1</label>
      <input type="radio" name="rating" value="2" id="rating2" ng-model="newComment.rating"><label
      for="rating2">2</label>
      <input type="radio" name="rating" value="3" id="rating3" ng-model="newComment.rating"><label
      for="rating3">3</label>
      <input type="radio" name="rating" value="4" id="rating4" ng-model="newComment.rating"><label
      for="rating4">4</label>
      <input type="radio" name="rating" value="5" id="rating5" ng-model="newComment.rating"><label
      for="rating5">5</label>
    </fieldset>
    <fieldset class="large-12 columns">
      <legend>Comentario:</legend>
      <textarea textarea rows="4" cols="50" ng-model="newComment.comment" required></textarea>

    </fieldset>
    <fieldset class="large-12 columns">
      <div class="clearfix">
        <button type="submit" class="button float-right">Enviar</button>
      </div>
    </fieldset>
    <div class="small-12 columns">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </form>
</div>
