<h4>
  Funciones del cine {{screening._id.displayName}}({{screening._id.city.abbreviation}})
</h4>
<!--showtimes-->
<fieldset class="medium-12 columns">
  <div class="row small-collapse" ng-repeat="showtime in screening.showtimes">
    <div class="small-3 columns">
      <input type="text" placeholder="Formato(Ej:3D,2D)" ng-model="showtime.format" required/>
    </div>
    <div class="small-3 columns">
      <input type="text" placeholder="Tipo(Ej:dob,sub)" ng-model="showtime.type" required/>
    </div>
    <div class="small-3 columns">
      <input type="text" placeholder="Hora(Ej: 11:00)" ng-model="showtime.time" required/>
    </div>
    <div class="button-group small small-1 columns">
      <button class="button alert" ng-click="removeShowtimeFromShowtimesArray(showtime)">
        <i class="fi-minus"></i>
      </button>
    </div>
  </div>
  <hr>
  <div class="row small-collapse" ng-repeat="showtimeToAdd in showtimesToAdd">
    <div class="small-3 columns">
      <input type="text" placeholder="Formato(Ej:3D,2D)" ng-model="showtimeToAdd.format" required/>
    </div>
    <div class="small-3 columns">
      <input type="text" placeholder="Tipo(Ej:dob,sub)" ng-model="showtimeToAdd.type" required/>
    </div>
    <div class="small-3 columns">
      <input type="text" placeholder="Hora(Ej: 11:00)" ng-model="showtimeToAdd.time" required/>
    </div>
    <div class="button-group small small-1 columns">
      <button class="button success" ng-click="addNewShowtimeToShowtimesArray(showtimeToAdd)">
        <i class="fi-plus"></i>
      </button>
    </div>
  </div>
  <div class="button-group small-offset-10 small">
    <button class="button warning" ng-click="addNewShowtime()">Nuevo</button>
  </div>
</fieldset>

<!--close button-->
<button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
